@model HomeLibrary.DatabaseModel.Item

@{
    ViewData["Title"] = "Borrow";
}

<h2>Borrow</h2>

<h4>Statistics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Borrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="BorrowedPerson" class="control-label"></label>
                <input asp-for="BorrowedPerson" class="form-control" />
                <span asp-validation-for="BorrowedPerson" class="text-danger"></span>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

