
@{
    //ViewData["Title"] = "FindMyCover";
    ViewBag.Title = "FindMyCover";
}

@*<h2>FindMyCover</h2>

<div>
    Your words from the cover:
    @{
        foreach (string st in ViewBag.Resoult)
        {
            <p>
                @st
            </p>
        }

    }
</div>*@