@model HomeLibrary.WebApp.HelperClass.SearchPosition
@{
    ViewData["Title"] = "Index";
}
@using System.Collections
<h2>Wyszukaj</h2>

@using (Html.BeginForm("Result", "Search", FormMethod.Post))
{

<div class="container">
    <div class="col-lg-3">
        @Html.DropDownListFor(Model=>Model.TypeId,
        new SelectList((IEnumerable)ViewData["TypeList"],"Value","Text"), "Typ pozycji",
        new { @class = "form-control " })
    </div>
    <div class="col-lg-3">
        <label> Tytuł</label>
        <input id="Title" name="Title" type="text" runat="server" style="width: 400px" placeholder="dowolny tytuł" />
       </div>
        <div class="col-lg-3">
            <label> Autor</label>
            <input id="Author" name="Author" type="text" runat="server" style="width: 400px" placeholder="dowolny autor" />
        </div>
        <input type="submit" id="submitId" value="Wyszukaj" class="btn btn-success pull-left" />
    </div>
        }
