@{
    ViewData["Title"] = "Jak do nas trafić";
}
<h2>@ViewData["Title"]</h2>
<div class="col-lg-3">
</div>
    <div class="col-lg-3">
        <address>
            Szkolna Biblioteka<br />
            Roud 66 (na końcu koło ostatniej stacji benzynowej)<br />
            <abbr title="Phone">P:</abbr>
            888.888.888
        </address>

        <address>
            <strong>Wsparcie techniczne:</strong> <a href="mailto:itcrowd@example.com">Technicy-Magicy@example.com</a><br />
            <strong>Chcesz umiesić reklamę:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-lg-3">
        <img src="~/images/contactLogo.png" alt="Sample Photo" />
    </div>
